body {
    margin: 0rem;
}

header {
    background-color: #FFD7BE;
}

.img-container {
    margin-left: 1rem;
}

.sidebar {
    margin-top: -3.3rem;
}

label {
    position: absolute;
    right: 1px;
    font-size: 2.7rem;
    margin-right: 1rem;
}

.fa-bars {
    color: #373640;
}

input {
    display: none;
}

ul {
    position: absolute;
    right: -50px;
    transition: all .5s ease;
}

#check:checked ~ ul {
    right: 10px;
}