@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

body {
    margin: 0rem;
    font-size: 16pt;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

header {
    background-color: #FFD7BE;
}

.img-container {
    margin-left: 1rem;
}

.sidebar {
    margin-top: -3.3rem;
}

label {
    position: absolute;
    right: 1px;
    font-size: 2.7rem;
    margin-right: 1rem;
}

.fa-bars {
    color: #373640;
}

input {
    display: none;
}

.menu {
    position: absolute;
    height: 70%;
    margin-top: 3.9rem;
    padding: 2rem 0rem;
    padding-left: 3rem;
    list-style: none;
    direction: rtl;
    right: -300px;
    background: rgb(71, 70, 79);
    color: #ffffff;
    z-index: 1;
    transition: all .5s ease;
}

ul::before{
    position: absolute;
    content: '';
    background: rgba(71, 70, 79, 0.904);
	width: 30px;
	height: 30px;
	right: 23px;
    top: -10px;
    box-sizing: border-box;
    z-index: -1;
    transform: rotate(45deg);
}

li {
    margin-right: 1rem;
}

a{
    color: #faf9f9;
    text-decoration: none;
}

ul .fa {
    position: relative;
    font-size: 1.3rem;
    margin-left: 2rem;
    color: #C4C4C4;
    margin-bottom: 1.5rem;
}

.profile {
    margin-left: 2.8rem;
    
}

.user-name {
    margin-right: .2rem;
    font-size: 10pt;
    margin-bottom: 2rem;
}

.fa-user {
    padding-top: 2rem;
}

#check:checked ~ ul {
    right: 0px;
}

.nav-collection {
    margin-top: 3.3rem;
    color: white;
    max-height: 100;
    padding: 1rem;
    background: #373640;
    list-style: none;
    font-size: 11pt;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    transition: all .2 ease;
}

.nav-collection::-webkit-scrollbar {
    width: 0px;
}

.nav-collection span {
    margin-right: 1rem;
}